PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/credence
JWT_SECRET=your_production_secret
JWT_EXPIRE=7d

# Blockchain (Sepolia)
BLOCKCHAIN_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-api-key
CONTRACT_ADDRESS=0x...
PRIVATE_KEY=your_wallet_private_key

# Frontend
FRONTEND_URL=https://your-frontend.vercel.app
